<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bomberos Maipú</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Bomberos Maipú</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#funcionarios">Nuestros funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#historia">Nuestra historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <h3>Lista de carros</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Capacidad de personas</th>
                <th>Capacidad de litros</th>
                <th>Cuartel</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}
            <tr>
                <td>{{ carro.idCarro }}</td>
                <td>{{ carro.patente }}</td>
                <td>{{ carro.marca }}</td>
                <td>{{ carro.modelo }}</td>
                <td>{{ carro.anno }}</td>
                <td>{{ carro.capacidadPersonas }}</td>
                <td>{{ carro.capacidadLitros }}</td>
                <td>{{ carro.cuartel }}</td>
                <td><a href="{% url 'form_mod_carro' carro.idCarro %}" class="btn btn-primary">Modificar</a></td>
                <td><a href="{% url 'form_del_carro' carro.idCarro %}" class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'form_carros' %}" class="btn btn-success">Nuevo registro</a>
    <p>&nbsp;</p>
</div>


  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Sobre nosotros</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum mattis tincidunt.</p>
        </div>
        <div class="col-md-4">
          <h3>Categoría</h3>
          <ul>
            <li>Nosotros</li>
            <li>Nuestros funcionarios</li>
            <li>Nuestra historia</li>
            <li>Contacto</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <ul>
            <li>Nuestra ubicación</li>
            <li>Teléfono: xxx-xxx-xxxx</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  </footer>
    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
