<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bomberos Maipú</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Bomberos Maipú</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#funcionarios">Nuestros funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#historia">Nuestra historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section id="yellow-bg">
  <div class="container mt-5">
    <h3>Lista de Hidrantes</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hidrante in hidrantes %}
            <tr>
                <td>{{ hidrante.idHidrante }}</td>
                <td>{{ hidrante.direccion }}</td>
                <td>{{ hidrante.estado }}</td>
                <td><a href="{% url 'form_mod_hidrantes' hidrante.idHidrante %}" class="btn btn-primary">Modificar</a></td>
                <td><a href="{% url 'form_del_hidrantes' hidrante.idHidrante%}" class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'form_hidrante' %}" class="btn btn-success">Nuevo registro</a>
    <p>&nbsp;</p>
</div>
</section>
<section id="yellow-bg">
  <div class="container mt-5">
    <h3>Lista de Reportes de Falla</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dirección del Hidrante</th>
                <th>Estado del Hidrante</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
            <tr>
              <td>{{ reporte.id }}</td>
      <td>{{ reporte.hidrante.direccion }}</td>
      <td>{{ reporte.estado_hidrante }}</td>
      <td>
          {% if reporte.estado_hidrante != reporte.hidrante.estado %}
              <form action="{% url 'aprobar_reporte' reporte.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="aprobar">
                  <button type="submit" class="btn btn-success">Aprobar</button>
              </form>
          {% endif %}
      </td>
      <td>
          <form action="{% url 'aprobar_reporte' reporte.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="action" value="rechazar">
              <button type="submit" class="btn btn-danger">Rechazar</button>
          </form>
    </td>
</tr>
{% endfor %}

        </tbody>
    </table>
    <p>&nbsp;</p>
  </div>
</section>


  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Sobre nosotros</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum mattis tincidunt.</p>
        </div>
        <div class="col-md-4">
          <h3>Categoría</h3>
          <ul>
            <li>Nosotros</li>
            <li>Nuestros funcionarios</li>
            <li>Nuestra historia</li>
            <li>Contacto</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <ul>
            <li>Nuestra ubicación</li>
            <li>Teléfono: xxx-xxx-xxxx</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  </footer>
    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
