<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomberos Maipú</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Bomberos Maipú</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nuestros_funcionarios">Nuestros funcionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#historia">Nuestra historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="yellow-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="text-align: justify;">
                    <h3>Nuestra Historia</h3>
                    <p>En la década de 1960, muchos Cuerpos de Bomberos en Chile enfrentaban problemas financieros y
                        escasez de equipos. Guillermo Morales Beltramí, Superintendente del Cuerpo de Bomberos de
                        Santiago, propuso la creación de una estructura nacional que coordinara los esfuerzos de los
                        Cuerpos de Bomberos de Chile. En 1968 se realizó la primera reunión de Superintendentes,
                        sentando las bases para la consolidación de una organización nacional.</p>

                    <p>En 1970 se estableció la Junta Nacional de Cuerpos de Bomberos de Chile, actualmente conocida
                        como Bomberos de Chile, con el objetivo de unificar y fortalecer a los Cuerpos de Bomberos en el
                        país. La institución se dedica a desarrollar un servicio voluntario eficiente para garantizar la
                        seguridad de las personas y propiedades frente a incendios, desastres naturales y otros eventos.
                    </p>

                    <p>Bomberos de Chile busca la unidad bomberil y la participación equitativa de todos los Cuerpos de
                        Bomberos. También promueve la capacitación, la entrega de recursos económicos por parte del
                        Estado, y la colaboración con instituciones nacionales e internacionales en materia de seguridad
                        ciudadana y prevención de incendios.</p>

                    <p>La organización está integrada por los Cuerpos de Bomberos del país, representados en la Asamblea
                        Nacional por los Presidentes y Vicepresidentes de los Consejos Regionales. Cada dos años se
                        elige un Presidente Nacional y un Directorio Nacional.</p>

                    <p>Bomberos de Chile cuenta con una planta administrativa encargada de aplicar las políticas y
                        gestionar las actividades de la organización. También posee la Academia Nacional de Bomberos,
                        encargada de la capacitación, investigación y extensión en temas relacionados con las
                        actividades bomberiles.</p>

                    <p>Los recursos de Bomberos de Chile provienen de fuentes públicas y privadas, como la Ley de
                        Presupuesto de la Nación, aportes de empresas y cuotas de los voluntarios.</p>

                    <p>En resumen, Bomberos de Chile es una organización nacional que coordina los esfuerzos de los
                        Cuerpos de Bomberos del país, con el objetivo de desarrollar un servicio voluntario eficiente y
                        garantizar la seguridad de la comunidad ante emergencias.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../static/img/séptimacompañíadebomberos.jpg" alt="bomberos_maipu" width="450x">
                    <hr>
                    <img src="../static/img/DSC_3558.jpg." alt="carro_bomberos_maipu" width="450x">
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light">

        <div class="col-md-4">
            <h3>Categoría</h3>
            <ul>
                <li>Nosotros</li>
                <li>Nuestros funcionarios</li>
                <li>Nuestra historia</li>
                <li>Contacto</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Contacto</h3>
            <ul>
                <li>Nuestra ubicación</li>
                <li>Teléfono: xxx-xxx-xxxx</li>
            </ul>
        </div>
        </div>
        </div>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>